<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片上传</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">

        <el-upload class="upload-demo" action="image/upload" :file-list="fileList" list-type="picture"
            :on-success="handleOnSuccess" :on-preview="handleOnPreview" :on-remove="handleOnRemove" :before-upload="handleBeforeUpload">
            <el-button size="small" type="primary">点击上传</el-button>
            <el-button size="small" type="primary" @click.stop="handleClipboardUpload">剪切板上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div>

    <script>

        const vm = new Vue({
            el: "#app",
            data() {
                return {
                    host: "http://127.0.0.1",
                    fileList: []
                };
            },
            created() {
                this.fetchImageList()
            },
            methods: {

                fetchImageList() {
                    axios.get("image/list").then((response) => {
                        const result = response.data
                        if (result.code !== 0) {
                            this.$message.error(result.message)
                            return
                        }

                        const filenames = result.data.filenames
                        const fileList = []
                        for (filename of filenames) {
                            const url = this.host + "/image/" + filename
                            fileList.push({
                                name: filename,
                                url: url,
                            })
                        }
                        this.fileList = fileList
                    })
                },

                handleBeforeUpload(file) {
                    console.log(file);
                },

                handleOnSuccess(response, file, fileList) {
                    if (response.code === 0) {
                        file.name = response.data.filename
                    }
                },
                handleOnPreview(file) {
                    navigator.clipboard.writeText(this.generateImageURL(file.name))
                    this.$message.success("复制成功")
                },

                handleOnRemove(file, fileList) {
                    const url = `image/${file.name}`
                    axios.delete(url).then((resp) => {
                        const result = resp.data
                        if(result.code === 0) {
                            this.$message.success("Remove OK")
                            this.fetchImageList()
                        }else {
                            this.$message.error(result.message)
                        }
                    }).catch(err => {
                        this.$message.error(err)
                    })
                },

                generateImageURL(filename) {
                    return this.host + "/image/" + filename
                },

                async handleClipboardUpload() {
                    const items = await navigator.clipboard.read()
                    for (const item of items) {
                        for (const type of item.types) {
                            if (type.startsWith("image")) {
                                const blob = await item.getType(type)
                                const file = new File([blob], type.replace("image/", "clipboard."), { type: type })
                                console.log(file);

                                let param = new FormData()
                                param.append('file', file)
                                let config = {
                                    headers: { 'Content-Type': 'multipart/form-data' }
                                }
                                const response = await axios.post("image/upload", param, config)
                                const result = response.data
                                if (result.code === 0) {
                                    const filename = result.data.filename
                                    const url = this.host + "/image/" + filename
                                    this.fileList.push({
                                        name: filename,
                                        url: url,
                                    })
                                }else{
                                    this.$message.error(result.message)
                                }

                            }
                        }
                    }
                }
            }
        })
    </script>



</body>

</html>